<!-- Footer Section end -->
<footer id="footer" class="root-sec white root-sec footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix footer-inner">
                    <ul class="left social-icons">
                        <li><a href="https://plus.google.com/u/1/104857504173305630383/" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/profile/view?id=AAIAAANRyG0Btmol-nA4-CCDkDDhmqAbzH49wlw" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/michal-skrabacz/" class="tooltips tooltipped github" data-position="top" data-delay="50" data-tooltip="Github"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://twitter.com/bulvahj" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/michal.skrabacz" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul> <!-- ./social icons end -->
                    <div class="right copyright">
                        <p>QMMS &copy; All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ./container end-->
</footer>
<!-- #footer end -->