<header id="navigation" class="root-sec white nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="nav-inner">
                    <nav class="primary-nav">
                        <div class="clearfix nav-wrapper">
                            <a href="#home" class="left brand-logo menu-smooth-scroll" data-section="#home"><img src="img/logo.png" alt="">
                            </a>
                            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                            <ul class="right static-menu">
                            </ul>
                            <ul class="inline-menu side-nav" id="mobile-demo">

                                <!-- Mini Profile // only visible in Tab and Mobile -->
                                <li class="mobile-profile">
                                    <div class="profile-inner">
                                        <div class="pp-container">
                                            <img src="img/my.jpg" alt="">
                                        </div>
                                        <h3>Michał Skrabacz</h3>
                                        <h5>Android evangelist from Wrocław, Poland</h5>
                                    </div>
                                </li><!-- mini profile end-->


                                <li><a href="#about" data-section="#about" class="menu-smooth-scroll"><i class="fa fa-user fa-fw"></i>About Me</a>
                                </li>
                                <li><a href="#resume" data-section="#resume" class="menu-smooth-scroll"><i class="fa fa-file-text fa-fw"></i>Skills</a>
                                </li>
                                <li><a href="#portfolio" data-section="#portfolio" class="menu-smooth-scroll"><i class="fa fa-briefcase fa-fw"></i>Portfolio</a>
                                </li>
                                <li><a href="#testimonial" data-section="#testimonial" class="menu-smooth-scroll"><i class="fa fa-comments fa-fw"></i>Testimonial</a>
                                </li>
                                <li><a href="#contact" data-section="#contact" class="menu-smooth-scroll"><i class="fa fa-paper-plane fa-fw"></i>Contact</a>
                                </li>
                                <li><a href="#download" data-section="#download" class="menu-smooth-scroll"><i class="fa fa-cloud-download fa-fw"></i>Resume</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- .container end -->
</header>
